<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="/"> <img alt="image" src="assets/img/logo.png" class="header-logo" /> <span
            class="logo-name">Harsh Kagu</span>
        </a>
      </div>
      <ul class="sidebar-menu">
        <li class="dropdown active">
          <a href="/" class="nav-link"><i class="nav-icon fas fa-th"></i><span>Dashboard</span></a>
        </li>
        <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i
            class="nav-icon fas fa-store"></i><span> Restaurants </span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="res_table">Restaurant List</a></li>
            <li><a class="nav-link" href="restaurant_create">Create Restaurant</a></li>
          </ul>
        </li>
     
        <li><a class="nav-link" href="order"><i class="nav-icon fas fa-receipt"></i><span> Order </span></a></li>
        
        <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i class="nav-icon fas fa-utensils"></i><span> Dishes</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="dish_table">Dishes List</a></li>
            <li><a class="nav-link" href="dish_create">Create Dish</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i class="nav-icon fas fa-utensils"></i></i><span> Dish Categories</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="dish_category_table">Categories List</a></li>
            <li><a class="nav-link" href="dish_category_create">Create Category</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i class="nav-icon fas fa-utensils"></i><span>Addons</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="addon_table"> Addons List </a></li>
            <li><a class="nav-link" href="addon_categoty_table">Addon Category List</a></li>
         </ul>
        </li>
        <li><a class="nav-link" href="coupons_table"><i class="nav-icon far fas fa-tags"></i><span>  Manage Coupons  </span></a></li>

        <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i
            class="nav-icon fas fa-users"></i><span>Account Setting</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="user_table">Users </a></li>
            <li><a class="nav-link" href="wepppi_table">Wepppies</a></li>
            <li><a class="nav-link" href="owner_table">Restaurant Owners</a></li>
          </ul>
        </li>
        <li><a class="nav-link" href="seting"><i class="nav-icon fas fa-cog"></i><span> Settings </span></a></li>
      </ul>
    </aside>
  </div>
