<%- include('layouts/auth-header'); -%>

<body>
  <div class="loader"></div>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
            <div class="card card-primary">
              <div class="card-header">
                <h4>Register</h4>
              </div>
              <div class="card-body">
                <form method="POST" id="form_res">
                  <div id="check"></div>
                  <div class="row">
                    <div class="form-group col-6">
                      <label for="frist_name">First Name</label>
                      <input id="frist_name" type="text" class="form-control" name="frist_name" autofocus>
                    </div>
                    <div class="form-group col-6">
                      <label for="last_name">Last Name</label>
                      <input id="last_name" type="text" class="form-control" name="last_name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" name="email">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Select Role</label>
                    <select class="form-control" name="role">
                      <option value="admin">Admin</option>
                      <option value="user">User</option>
                      <option value="owner">Owner</option>
                    </select>
                  </div>
                  <div class="row">
                    <div class="form-group col-6">
                      <label for="password" class="d-block">Password</label>
                      <input id="password" type="password" class="form-control pwstrength" data-indicator="pwindicator"
                        name="password">
                      <div id="pwindicator" class="pwindicator">
                        <div class="bar"></div>
                        <div class="label"></div>
                      </div>
                    </div>
                    <div class="form-group col-6">
                      <label for="password2" class="d-block">Password Confirmation</label>
                      <input id="password2" type="password" class="form-control" name="passwordConfirm">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="agree" class="custom-control-input" id="agree">
                      <label class="custom-control-label" for="agree">I agree with the terms and conditions</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                      Register
                    </button>
                  </div>
                </form>
              </div>
              <div class="mb-4 text-muted text-center">
                Already Registered? <a href="auth-login">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#form_res").submit(function(event) {
        event.preventDefault();
        $.ajax({
          type: 'POST',
          url: '/register-save',
          data: $('#form_res').serialize(),
          dataType: "json",
          success: function(response) {
            if(response.Message == "Success") {
              window.location.href = "/auth-login";
            }
            else if (response.Message == "Email is already used"){
              document.getElementById("check").innerHTML = '<div class="alert alert-danger alert-dismissible" id="check"><button type="button" class="close" data-dismiss="alert">&times;</button>  Email is already used </div>';
              setTimeout(function() {
                document.getElementById("check").innerHTML = "";
              }, 3000);
            }
            else if(response.Message == "password is not matched"){
      
              document.getElementById("check").innerHTML = '<div class="alert alert-danger alert-dismissible" id="check"><button type="button" class="close" data-dismiss="alert">&times;</button>password is not matched  </div>';
              setTimeout(function() {
                document.getElementById("check").innerHTML = "";
              }, 3000);
            }
          },
          error: function() {}
        })
      });
    });
    </script>
    <%- include('layouts/auth-footer'); -%>